@import '../../../../common/style/variables';
@import '../../../../common/style/mixins';

.block {
  height: 5vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  &Location {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;

    &__label {
      color: $textColorPrimary;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      padding-bottom: 3%;
      @media screen and ($upperValueForTablet) {
        visibility: hidden;
        width: 1px;
      }
    }

    &__input {
      border-radius: 10px;
      height: 100%;
      width: 160px;
      margin-left: 0.5vw;
      font-size: 1.1em;
      padding-left: 10px;
      border: 0.1px solid $textColorPrimary;
      color: $primaryColor;
      outline: none;

      &::placeholder {
        font-size: 0.8rem;
        color: $textColorPrimary;
        @media screen and ($upperValueForTablet) {
          color: $primaryColor;
          font-size: 0.8rem;
        }
      }
    }

    &__button {
      position: relative;
      @include button(5vh, 5vh, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      @include descr(attr(data-descr));
    }

    &__icon {
      height: 65%;
      width: 65%;
      color: $textColorPrimary;

      &:hover {
        color: $additionalColor;
      }
    }
  }
}
