@import '../../../../common/style/variables';
@import '../../../../common/style/mixins';

.block {
  height: 5vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  &Location {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3px;
    &__label {
      display: inline-block;
      height: 100%;
      color: white;
      font-size: 1.2em;
    }
    &__input {
      border-radius: 10px;
      height: 100%;
      width: 200px;
      margin-left: 0.5vw;
      font-size: 1.1em;
      padding-left: 10px;
      border: 0.1px solid white;
      color: $primaryColor;
    }
    &__button {
      @include button(35px, 35px, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    }
    &__icon {
      height: 65%;
      width: 65%;
      color: white;
    }
  }
}
