@import 'src/common/style/variables';

.currentWeatherBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 1%;
  height: 30%;
  font-size: 2vh;

  @media screen and ($upperValueForTablet) {
    font-size: 0.8rem;
    flex-direction: column;
    height: auto;
  }
}