$primaryColor: #33678E;
$secondColor: #fff;
$textColorPrimary: #fff;
$textColorSecond: #113B5C;
$iconsColorPrimary: #fff;
$colorCard: #fff;
$colorCardText: #113B5C;
$primaryLineColor: #113B5C;
$additionalColor: #DDA346;
$upperValueForMobile: '';
$lowerValueForTablet: (min-width: 361px);
$upperValueForTablet: (max-width: 768px);
$lowerValueForDesktop: '';

