@import 'src/common/style/variables';
.mainBlock {
  background-color: $primaryColor;
  color: $primaryTextColor;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
}
.footerBlock {
}
