@import 'src/common/style/variables';

.nextWeatherBlock {
  height: 65%;
  margin: 1%;
  gap: 0.3vw;
  border-radius: 5px;
  background: rgba($primaryColor, 0.8);
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
  @media screen and ($upperValueForTablet) {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
