@import '../../../common/style/variables';
@import '../../../common/style/mixins';

.layoutBlock {
  // font-size: calc(10px + 1vmin);

  &__main {
    color: $textColorPrimary;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;

    @media screen and ($lowerValueForTablet) and ($upperValueForTablet) {

    }
  }
}

